<nav class="navbar navbar-expand-md navbar-custom rcorner fixed-top" id="back">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">StepsAtFeet</span>
    </button>
    <a class="navbar-brand" href="#">
        <i class="fab fa-angellist"></i>
    </a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/employeer">Employeer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact US</a>
            </li>

        </ul>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" data-target="#addModal"
        data-toggle="modal" (click)="add()">LogIn
    </a>
    </div>
</nav>
<div *ngIf="componentName=='EmployeeLogin'; then fun1 else fun2"></div>

<ng-template #fun1>
    <div class="head">
      <app-loginui (onMainUICall)="message($event)"></app-loginui>
    </div>
</ng-template>

<ng-template #fun2>
  <div class="head">
    <app-employeerloginui (onMainUICall)="message($event)"></app-employeerloginui>
  </div>
</ng-template>



