<div class="para">
  <div class="row">
      <div class="col-8 offset-2">
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.doj" required/>
        </div><div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.salary" required/>
        </div>
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.bond" required/>
        </div>
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.terms" required/>
        </div>
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.behavior" required/>
        </div>
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.reporting" required/>
        </div>
        <div class="form-group row">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="review.reasontoleave" required/>
        </div>
        <div class="form-group row">
          <button class="btn btn-success">Submit Review</button>
        </div>
      </div>
  </div>
</div>
