<div class="container-fluid">
    <div class="row">
        <div class="col-2 offset-1">
            <div class="row">
                <img src="assets/step.jpg" alt="StepAtFeet" class="ig"/>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col even">
                    <table>
                        <tr><h6>StepAtFeet</h6></tr>
                        <tr><p>About</p></tr>
                        <tr><p>Blog</p></tr>
                    </table>
                </div>
                <div class="col even">
                    <table>
                        <tr><h6>StepAtFeet</h6></tr>
                        <tr><p>About</p></tr>
                        <tr><p>Blog</p></tr>
                    </table>
                </div>
                <div class="col even">
                    <table>
                        <tr><h6>StepAtFeet</h6></tr>
                        <tr><p>About</p></tr>
                        <tr><p>Blog</p></tr>
                    </table>
                </div>
                <div class="col even">
                    <table>
                        <tr><h6>StepAtFeet</h6></tr>
                        <tr><p>About</p></tr>
                        <tr><p>Blog</p></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <p style="text-align: center;">Follow Us</p>
                </div>
            </div>
        </div>
    </div>
</div>
