<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 offset-1">
            <div class="row">
                <img src="assets/step.jpg" alt="StepAtFeet" class="ig"/>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col col-sm col-md even">
                    <table>
                        <tr><h6>StepAtFeet</h6></tr>
                        <tr><p>About/Press</p></tr>
                        <tr><p>Blog</p></tr>
                    </table>
                </div>
                <div class="col col-sm col-md even">
                    <table>
                        <tr><h6>Employers</h6></tr>
                        <tr><p>Get a FREE Employer</p></tr>
                        <tr><p>Account</p></tr>
                        <tr><p>Employer Centre</p></tr>
                        <tr><p>Post a Job</p></tr>

                    </table>
                </div>
                <div class="col col-sm col-md even">
                    <table>
                        <tr><h6>Community</h6></tr>
                        <tr><p>Help / Contact Us</p></tr>
                        <tr><p>Guidelines</p></tr>
                        <tr><p>Terms of Use</p></tr>
                        <tr><p>Privacy & Cookies</p></tr>
                        <tr><p>Privacy Center</p></tr>
                        <tr><p>Do Not Sell</p></tr>
                        <tr><p>Cookie Consent Tool</p></tr>

                    </table>
                </div>
                <div class="col col-sm col-md even">
                    <table>
                        <tr><h6>Work With Us</h6></tr>
                        <tr><p>Job Boards</p></tr>
                        <tr><p>Advertisers</p></tr>
                        <tr><p>Developers</p></tr>
                        <tr><p>Careers</p></tr>

                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 200px;">
                <div class="col-8 col-sm-8 col-md-8 offset-2">
                    <p style="text-align: center;">Follow Us</p>
                </div>
            </div>
        </div>
    </div>
</div>
