<div class="para">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group row">
                <label>First Name</label>
                <input type="text" class="form-control" [(ngModel)]="emp.fname" required/>
            </div>
            <div class="form-group row">
                <label>Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="emp.lname" required/>
            </div>
            <div class="form-group row">
                <label>Date of Birth</label>
                <input type="date"class="form-control" [(ngModel)]="emp.dob"required/>
            </div>
            <div class="form-group row">
              <label>Email</label>
              <input type="email"class="form-control" [(ngModel)]="emp.email" required/>
            </div>
            <div class="form-group row">
              <label>Password</label>
              <input type="password"class="form-control" [(ngModel)]="emp.password" required/>
            </div>
            <div class="form-group row">
              <label>Address</label>
              <div class="form-group row">
                <label>House/Flat No.</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.house_no" required/>
              </div>
              <div class="form-group row">
                <label>Street</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.street" required/>
              </div>
              <div class="form-group row">
                <label>Town</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.town" required/>
              </div>
              <div class="form-group row">
                <label>City</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.city" required/>
              </div>
              <div class="form-group row">
                <label>State</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.state" required/>
              </div>
              <div class="form-group row">
                <label>Country</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.country" required/>
              </div>
              <div class="form-group row">
                <label>Pin-Code</label>
                <input type="text"class="form-control" [(ngModel)]="emp.address.pincode" required/>
              </div>
            </div>
            <div class="form-group row">
              <label>Organization</label>
              <input type="text" class="form-control" [(ngModel)]="emp.organization" required/>
            </div>
            <div class="form-group row">
              <label>Qualification</label>
              <input type="text" class="form-control" [(ngModel)]="emp.qualification" required/>
            </div>
            <div class="form-group row">
              <label>Experience</label>
              <input type="number" class="form-control" [(ngModel)]="emp.experience" required/>
            </div>
            <div class="form-group row">
              <label>Mobile Number</label>
              <input type="text" class="form-control" [(ngModel)]="emp.mobile[0]" required/>

            </div>
            <div class="form-group row">
              <form [formGroup]="empForm">
                <div formArrayName="mobiles">
                  <div *ngFor="let mobile of mobiles().controls; let empIndex=index">
                    <div [formGroupName]="empIndex">
                      <div>
                        <input type="text" formControlName="mobile" placeholder="{{empIndex+2}} mobile">
                        <button class="button b3" (click)="removeEmployee(empIndex)">RemoveMobile</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <button class="button b3" (click)="addMobile()">Add Mobile</button>
            </div>
            <div class="form-group row">
              <label>Gender</label>
              <select class="form-control" [(ngModel)]="emp.gender">
                <option disabled>--Select--</option>
                <option value="M" required>Male</option>
                <option value="F">Female</option>
`             </select>
            </div>
            <div class="form-group row">
              <label>Image</label>
              <input type="file" class="form-control" (change)="upload($event.target.files)" required/>
            </div>
            <pre>{{message}}</pre>
            <button class="button bt" (click)="add()">Submit</button>
        </div>
    </div>
</div>

