.head{
  margin-top: 100px;

  //background-color: rgb(114, 240, 114);
  padding: 20px;

}

.para{
  //background-color: #97c6e8;
  position: relative;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px;
  border-radius: 15px 20px 15px 25px;
  text-align: center;
  color: black;
  font-size: larger;
  font-weight: 900;
  border-spacing: 10px;
}
