
<div class="fluid-container" style="margin-top: 150px;">
  <div class="row">
      <div class="col-4 offset-2">
          <div class="row">
            {{msg}}
            <div class="bgset">
              <h1>{{dat}}</h1>
              <!-- <p>
                {{ data | json}}
              </p> -->
                <div class="card-body">
                 <table id="emp">
                     <tr>
                         <td>Name</td>
                         <td>{{data.detail.fname}} {{data.detail.lname}}</td>
                     </tr>
                     <tr>
                        <td>Company</td>
                        <td>{{data.detail.organization}}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>*****</td>
                    </tr>
                    <tr>
                        <td>Experience</td>
                        <td>{{data.detail.experience}}</td>
                    </tr>
                    <tr>
                        <td>Achievement</td>
                        <td>Contributer in Financial Agencies</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>{{data.detail.email}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{data.detail.address.city}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-info btn-lg" (click)="callComponent()">Add review</button>
                  </td>
                </tr>
                 </table>
                 </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;margin-left: 200px;">

          </div>
      </div>
      <div class="col-3 offset-1">
          <app-imagedisplay [id]="data.detail.image[0]"></app-imagedisplay>
      </div>
  </div>

</div>


