
<div class="bgset">
    <div class="card-body">
     <table id="emp">
         <tr>
             <td>Name</td>
             <td>{{data.fname}} {{data.lname}}</td>
         </tr>
         <tr>
            <td>Company</td>
            <td>{{data.organization}}</td>
        </tr>
        <tr>
            <td>Rating</td>
            <td>*****</td>
        </tr>
        <tr>
            <td>Experience</td>
            <td>{{data.experience}}</td>
        </tr>
        <tr>
            <td>Achievement</td>
            <td>Contributer in Financial Agencies</td>
        </tr>
     </table>
     </div>
</div>


