
            <div class="modal fade" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Login</h1>
                        </div>
                        <div class="modal-body">

                            <div class="form-groups">
                                <div class="row">
                                    <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                                </div>
                                <div class="row">
                                    <!-- <span class="fa fa-lock"></span> -->
                                    <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-1 offset-2">
                                        <input type="checkbox" name="remember_me" id="remember_me" class="">
                                    </div>
                                    <div class="col-8 ">
                                        <label for="remember_me">Remember Me!</label>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                          <div>
                            <button class="btn btn-success"
                            data-dismiss="modal">Login</button>
                            <button class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                          <div>
                            <p>Are you an Employer/Organization? <a href="#"
                              (click)="callComponent()">Click Here</a></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
